<div  class="container-fluid">
<div class="jumbotron jumbotron-fluid" style="height: 725px;background-color: white;">
 <div class="container">


  <nav class="navbar navbar-expand-sm " style="background-color: #34aa95;">
    <!-- Brand/logo -->
 <a class="navbar-brand" style="margin-left:17;text-align: left;position: absolute;">WM</a>
                                
  </nav>


  <div class="col-lg-12">
            
  <div class="col-md-6">



    <span class="brandtitle">
          
     <p>Welcome to Windmill</p>
                    
      </span>
                    
     <span class="brandimg"></span>

    </div><!-----col-md-6-->

   
    <div  class="container">

                <div class="row">
        
                    <div class="col-md-12">
        
                    <div class="col-md-12"></div>
                        
                    <div class="col-md-6">



                                <div class="reenteryourpin1">
                                 
                                                <p>Step 3 0f 4</p>
        
                                            </div><!--reenter your pin 1-->
        
                                            <div  class="welcome1">
        
                                                <p>Let's Create Your ID</p>
        
        
                                            </div><!--welcome1-->
        
                                            <div class="reenteryourpin2">
        
                                             <p>Input your full name and create your username </p>
        
        
                                            </div><!--reenteryourpin2-->
        
                                            <div class="reenteryourpin3">
        
                                            <p>your identity</p>
        
        
                                          </div><!---reenteryourpin3-->
        
        
                                          <div class ="pinbox1">
        
                                                <form>
                                                        <div class="form-group row">
                                                                <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                <div class="col-sm-10">
                                                                  <input type="text" class="form-control" id="inputPassword3" placeholder="Your Full Name">
                                                                </div>
                                                              </div>
                                                        </form>
        
        
                                          </div><!---pinbox1-->


                                          <div class="pinbox2">
        
        
                                                        <form>
                                                                <div class="form-group row">
                                                                        <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                        <div class="col-sm-10">
                                                                          <input type="text" class="form-control" id="inputPassword3" placeholder="Your Email Here">
                                                                        </div>
                                                                      </div>
                                                                </form>
                
                                                  
                
                                                  </div><!--pinbox2-->
        
                                       
        
                                          <div class="checkbox">
                                                
                                          <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                </label>
                                              </div>
        
                            
                                            </div><!--checkbox-->
        
                                            <div class="reenteryourpin4">
        
                                            <p>By Going to the next step you agree with </p>
        
        
                                            </div><!--reenter your pin4-->
        
                                            <div class="reenteryourpin5">
        
                                            <p>Windmill's </p>
                
                
                                                    </div><!--reenter your pin5-->
        
                                            <div class="reenteryourpin6">
        
                                            <p>Privacy Policy</p>
        
                                            </div><!--reenteryourpin6-->
        
                                           <a routerLink="/pincreation"> <div class="signup">
        
                                            <div class="signupbtntext">
        
                                            <p>Next</p>
                                            
                                            </div>
        
                                              </div></a>
                
        
        
        

                 </div><!----col-md-6-->
                </div><!-----col-md-12-->
               </div><!----row-->
              </div><!----container-->
  
  

















</div><!-----col-lg-12-->
                  
                  


































</div><!--------container-------------->
</div><!-----Jumbotron-fluid-->
</div><!---------container-fliud-->