                <div  class="container-fluid">
                <div class="jumbotron jumbotron-fluid" style="height: 725px;background-color: white;">
                <div class="container">



                 <nav class="navbar navbar-expand-sm " style="background-color: #34aa95;">
                  <!-- Brand/logo -->
                  <a class="navbar-brand" style="margin-left:17;text-align: left;position: absolute;">WM</a>
                                                
                   </nav>



                   <div class="col-lg-12">


                  <div class="col-md-6">



                    <span class="brandtitle">
          
                    <p>Welcome to Windmill</p>
                                    
                     </span>
                                    
                  <span class="brandimg"></span>
                 
                  </div><!----col-md-6-->


                  <div  class="container">

                                <div class="row">
                        
                                    <div class="col-md-12">
                        
                                    <div class="col-md-12"></div>
                                       
                                     <div class="col-md-6">


                                        <!-----elements Start-->

                                               <div class="reenteryourpin1">

                                                        <p>Step 4 of 4</p>
                
                                                    </div><!--reenter your pin 1-->
                
                                                    <div class="welcome1">
                
                                                <p>Create your 6 Digits PIN </p>
                
                                                    </div><!---welcome1-->
                
                                                <div class="reenteryourpin2">
                                           
                                                <p>6 Digits pin is used for login to windmill ????</p>
                
                                                </div><!--reenteryourpin2-->
                
                                                <div class="reenteryourpin3">
                                           
                                                        <p>Create your unique number to avoid similarity</p>
                        
                                                        </div><!--reenteryourpin3-->



                                                    <div class="pinbox6">
                                            
                                                                <form>
                                                                        <div class="form-group row">
                                                                         <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                         <div class="col-sm-10">
                                                                         <input type="password" class="form-control" id="inputPassword3">
                                                                                        
                                                                        </div>
                                                                         </div>
                                                                        </form>
                                                
                                                        </div><!--pinbox6-->


                                                        <div class="pinbox5">
                                            
                                                                        <form>
                                                                                <div class="form-group row">
                                                                                 <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                                 <div class="col-sm-10">
                                                                                 <input type="password" class="form-control" id="inputPassword3">
                                                                                                
                                                                                </div>
                                                                                 </div>
                                                                                </form>
                                                        
                                                                </div><!---pin box5-->


                                                                <div class="pinbox4">
                                            
                                                                                <form>
                                                                                        <div class="form-group row">
                                                                                         <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                                         <div class="col-sm-10">
                                                                                         <input type="password" class="form-control" id="inputPassword3">
                                                                                                        
                                                                                        </div>
                                                                                         </div>
                                                                                        </form>
                                                                               
                                                                       
                                                                
                                                                                        
                                                                        </div><!---pinbox4-->

                                                                        <div class="pinbox3">
                                                   
                                                                                        <form>
                                                                                                <div class="form-group row">
                                                                                                 <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                                                 <div class="col-sm-10">
                                                                                                 <input type="password" class="form-control" id="inputPassword3">
                                                                                                                
                                                                                                </div>
                                                                                                 </div>
                                                                                                </form>
                                                                                
                                                                        
                                                                                </div><!----pinbox3-->


                                                                                <div class="pinbox2">
                                            
                                                                                                <form>
                                                                                                <div class="form-group row">
                                                                                                 <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                                                                 <div class="col-sm-10">
                                                                                                 <input type="password" class="form-control" id="inputPassword3">
                                                                                                                
                                                                                                </div>
                                                                                                 </div>
                                                                                                </form>
                                                                                
                                                                                
                                                                                        </div><!---pinbox2-->
                                                                                
                                            
                                                 <div class="pinbox1">
                                                    <form>
                                                    <div class="form-group row">
                                                            <label for="inputPassword3" class="col-sm-2 col-form-label"></label>
                                                            <div class="col-sm-10">
                                                              <input type="password" class="form-control" id="inputPassword3">
                                                            </div>
                                                          </div>
                                                    </form>
                                                    
                                                    </div><!----pinbox1-->
                                            
                                                  
                                                   
                                            
                                                    
                                            
                                                   
                                                    
                                                    <a routerLink="/reenterpin"><div class="nextbtn">
                                            
                                                    <span class="nextbtntxt">
                                            
                                                    <p>Next</p>
                                            
                                                    </span>
                                            
                                                    </div></a><!---next  btn-->







         
          
          











 
 
 
 
 
 
                              
 
 
                   
                                        </div><!----col-md-6-->
                                        </div><!---col-md-12-->
                                        </div><!------row-->
                                        </div><!----container-->
 
                                
                                
</div> <!---col-lg-12-->











               
               
               
               
               
               
               
               
               
               
               
               
               
                </div><!-----container------->
                </div><!------jumbotron-fluid-->
                </div><!---container-fluid-->